header .slogan-wrap{
    background-color: #4086f6;
    color: #000;
}
.lead-container .recipe-content .recipe-header .phrase{
    color: #4086f6
}
.marked{
    color: #4086f6
}
.qu-wrap .qu-group-header{
    color: black
}
.comment-container .comment-desc .name{
    color: #1d1d1f
}
.qu-wrap .qu-group .qu{
    border: none;
    color: #fff;
    border-radius: 4px;
    border-color: #4086f6;
    background: #4086f6;
}
.qu-wrap .qu-group .qu:hover{
    border: none;
    color: #fff;
    border-radius: 4px;
    border-color: #f4b400;
    background:  #f4b400;
}
.qu-wrap .qu-group .qu:active{
    background-color: #4086f6;
}
.comment-container #comment-post{
    border: none;
  border-radius: 4px;
    border-color: #4086f6;
    background: #4086f6;
    color: #fff;
}
.comment-container #comment-post:active{
    background-color: #4086f6;
}
.icon-round{
    background: url(../files/O2-transparent.png) no-repeat
}
.lead-container .recipe-content .timer {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #4086f6;
}
.btn-primary1 {
    color: #fff;
   border-radius: 4px;
    border-color: #4086f6;
    background: #4086f6;
}
.btn-primary1:active{
    background-color: #fff;
    border-color: black; 
    color: black;
}
#qu-progress .qu-progress-wrap #qu-progress-bar {
    background-color: #4086f6;
}
#qu-progress #qu-progress-percent{
    color: #4086f6;
    font-weight: 600;
}
.qu-wrap #qu-prize .qu-prize-name{
    color: #4086f6
}
.qu-wrap .qu-take-it{
    border: none;
    border-radius: 4px;
    border-color: #4086f6;
    background: #4086f6;
    color: #fff;
    padding: 14px 20px 13px;
    animation: glowing 1300ms infinite;
}

#qu-progress .qu-checkpoint .qu-mark{
    background-color: #4086f6;
}
.tingle-btn{
    border: none;
    color: #fff;
    border-radius: 4px;
    border-color: #4086f6;
    background: #4086f6;
}
.tingle-btn:active{
    background-color: #F4B400;
    
}
.tingle-btn:hover{
    background-color: #F4B400;
    
}
.btn-primary {
    color: #fff;
    border-color: none;
    border-radius: 4px;
    border-color: #4086f6;
    background: #4086f6;
   
}
.btn-primary:hover{
    background-color: #4086f6
}
.btn-primary:active{
    background-color: #4086f6
}
.btn {
    display: inline-block;
    padding: 6px 24px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: none;
   border-radius: 4px;
    border-color: #4086f6;
    background: #4086f6;
}
.btn:active{
    background-color: #4086f6
}
@keyframes glowing {
        0% {
          background-color: #FD7A06;
          box-shadow: 0 0 5px #FD7A06;
        }
        50% {
          background-color: #FD7A06;
          box-shadow: 0 0 20px #FD7A06;
        }
        100% {
          background-color: #FD7A06;
          box-shadow: 0 0 5px #FD7A06;
        }
}
.qu-btn{
    color: #fff;
    border-radius: 8px;
    border-color: #4086f6;
    background: #4086f6;
}

.qu-btn:hover {
    border: none;
    color: #fff;
    border-radius: 8px;
    border-color: #f4b400;
    background:  #f4b400;
}
@keyframes pulse-animation{
    0%{
      box-shadow: 0 0 0 0px #4086f6;
    }
    100%{
      box-shadow: 0 0 0 16px rgba(0,0,0,0);
    }
  }